flows.json
[{"id":"a0eef39.1ad7a1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fe14903b.85411","type":"function","z":"a0eef39.1ad7a1","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["6ab528fb.897908","68ebae08.ad0b9"]]},{"id":"6ab528fb.897908","type":"watson-conversation-v1","z":"a0eef39.1ad7a1","name":"","workspaceid":"ef05e71e-38ef-4037-a7ef-a531227677e9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/917935ed-5a38-4438-9470-47b1894366a4","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["f50b8280.ca656","dfe14896.a192e8"]]},{"id":"dfe14896.a192e8","type":"function","z":"a0eef39.1ad7a1","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["f50b8280.ca656","59c77ae7.0183f4","35261934.a04826","fab2114f.045f"]]},{"id":"f50b8280.ca656","type":"debug","z":"a0eef39.1ad7a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"e9dba403.42d418","type":"ui_form","z":"a0eef39.1ad7a1","name":"","label":"","group":"5240d9fe.1d54f8","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["fe14903b.85411"]]},{"id":"35261934.a04826","type":"ui_audio","z":"a0eef39.1ad7a1","name":"","group":"5240d9fe.1d54f8","voice":"de-DE","always":"","x":780,"y":340,"wires":[]},{"id":"68ebae08.ad0b9","type":"ui_text","z":"a0eef39.1ad7a1","group":"5240d9fe.1d54f8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"fab2114f.045f","type":"ui_text","z":"a0eef39.1ad7a1","group":"5240d9fe.1d54f8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"59c77ae7.0183f4","type":"ui_template","z":"a0eef39.1ad7a1","group":"5240d9fe.1d54f8","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"5240d9fe.1d54f8","type":"ui_group","z":"","name":"Default","tab":"5c9b9606.d7b008","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c9b9606.d7b008","type":"ui_tab","z":"","name":"Restaurant Bot","icon":"dashboard","disabled":false,"hidden":false}]